
binarySearch/.idea/BinarySearch.iml

basicSyntax/primeNumber.py

binarySearch/.idea/misc.xml

binarySearch/.venv/pyvenv.cfg

binarySearch/.venv/lib/python3.10/site-packages/wheel/wheelfile.py

binarySearch/src/__init__.py
